<!doctype html>
<html lang="{{ language_current }}" dir="{{ direction_current }}" class="{{ direction_current }}">

<head>
	<meta charset="utf-8">
	<title>{{ title }}{% if subtitle %} - {{ subtitle }}{% endif %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="PHP Server Monitor - {{ subtitle }}">
	<meta name="robots" content="noindex" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="manifest" href="manifest.json">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="PSM">
	<link rel="apple-touch-icon" href="phpservermon.png">
	<meta name="msapplication-TileImage" content="phpservermon.png">
	<meta name="msapplication-TileColor" content="#424242">
	<!-- TODO add base url -->
  	<!-- <link rel="canonical" href=""> -->
	<meta name="theme-color" content="#424242">
	<link rel="icon" type="image/x-icon" href="favicon.ico" />
	<link rel="icon" type="image/png" href="favicon.png" />
	<link rel="apple-touch-icon" href="favicon.png" />
	<link href="src/templates/default/static/css/bootstrap.min.css" rel="stylesheet">
	<link href="src/templates/default/static/plugin/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
	<link href="src/templates/default/static/css/style.min.css" rel="stylesheet">
	<!--[if lt IE 9]>
    	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body>
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.php">{{ title }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
            aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar">
                {{ html_menu|raw }}
            </div>
        </div>
	</nav>
	{{ html_modal|raw }}
	<main role="main" class="container-fluid px-4">
		<noscript>
			<div class="alert alert-danger" role="alert">
				<b>Javascript is disabled!</b> PHP Server Monitor works best with JavaScript enabled!
			</div>
		</noscript>
		{% if not user_level and subtitle %}<h1>{{ subtitle }}</h1>{% endif %}
		<div class="container-fluid">{{ header_accessories|raw }}</div>
		{% for msg in messages %}
		<div class="alert alert-{{ msg.class }}" role="alert">
			<i class="fas fa-{{ msg.icon }}"></i> {{ msg.message|raw }}
		</div>
		{% endfor %}
		<div class="container-fluid">
			<div class="row">{{ html_sidebar|raw }}</div>
			<div class="row" id="content">{{ html_content|raw }}</div>
		</div>
	</main>
	{% if add_footer %}
	{% block footer %}
	<footer class="footer" role="contentinfo">
		<div class="container">
			<span class="text-muted">
				Powered by
				<a href="https://github.com/phpservermon/phpservermon/" target="_blank" rel="noopener">
					PHP Server Monitor {{ version }}.
				</a><span style="color:red;">{{ update_available|raw }}</span><a href="#" class="float-right">{{ label_back_to_top }}</a>
			</span>
		</div>
	</footer>
	{% endblock %}
	{% endif %}
	<script src="src/templates/default/static/plugin/jquery/jquery-3.5.1.min.js"></script>
	<script src="src/templates/default/static/plugin/popper.js/popper.min.js"></script>
	<script src="src/templates/default/static/plugin/bootstrap/js/dist/index.js"></script>
	<script src="src/templates/default/static/plugin/bootstrap/js/dist/util.js"></script>
	<script src="src/templates/default/static/plugin/bootstrap/js/dist/tab.js"></script>
	<script src="src/templates/default/static/plugin/bootstrap/js/dist/dropdown.js"></script>
	<script src="src/templates/default/static/plugin/bootstrap/js/dist/collapse.js"></script>
	<script src="src/templates/default/static/plugin/bootstrap/js/dist/button.js"></script>
	<script src="src/templates/default/static/plugin/bootstrap/js/dist/alert.js"></script>
	{% if html_modal|raw %}<script src="src/templates/default/static/plugin/bootstrap/js/dist/modal.js"></script>{% endif %}
	<script type="text/javascript" src="src/templates/default/static/plugin/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
	<script type="text/javascript" src="src/templates/default/static/plugin/bootstrap-select/dist/js/i18n/defaults-{{ language }}.min.js"></script>
	<script defer src="src/templates/default/static/plugin/font-awesome/js/solid.min.js"></script>
	<script defer src="src/templates/default/static/plugin/font-awesome/js/fontawesome.min.js" data-auto-replace-svg="nest"></script>
	<script type="text/javascript" src="src/templates/default/static/js/scripts.js"></script>
</body>

</html>