<!--%tpl_config-->
{config_update}
<div class="span12">
    <form class="form-horizontal well" action="index.php?type=config&action=save" id="edit_config" method="post">
        <fieldset>
            <legend>{label_general}</legend>
            <div class="control-group">
                <label class="control-label" for="language">{label_language}</label>
                <div class="controls">
                    <select name="language">
						<!--%tpl_repeat_languages-->
                        <option value="{value}" {selected}>{label}</option>
						<!--%%tpl_repeat_languages-->
						{languages}
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="auto_refresh_servers">{label_show_update}</label>
                <div class="controls">
                    <input type="checkbox" name="show_update[]" {show_update_checked} />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="auto_refresh_servers">{label_auto_refresh_servers}</label>
                <div class="controls">
                    <input type="text" name="auto_refresh_servers" value="{auto_refresh_servers}" maxlength="10" />&nbsp;seconds
                </div>
            </div>
            <legend>{label_settings_email}</legend>
            <div class="control-group">
                <label class="control-label" for="email_status">{label_email_status}</label>
                <div class="controls">
                    <input type="checkbox" name="email_status[]" {email_status_checked} />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="email_from_name">{label_email_from_name}</label>
                <div class="controls">
                    <input type="text" name="email_from_name" value="{email_from_name}" maxlength="255" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="email_from_email">{label_email_from_email}</label>
                <div class="controls">
                    <input type="text" name="email_from_email" value="{email_from_email}" maxlength="255" />
                </div>
            </div>
            <legend>{label_settings_sms}</legend>
            <div class="control-group">
                <label class="control-label" for="sms_status">{label_sms_status}</label>
                <div class="controls">
                    <input type="checkbox" name="sms_status[]" {sms_status_checked} />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="sms_gateway">{label_sms_gateway}</label>
                <div class="controls">
                    <select name="sms_gateway">
                        <option value="mosms" {sms_selected_mosms}>{label_sms_gateway_mosms}</option>
                        <option value="mollie" {sms_selected_mollie}>{label_sms_gateway_mollie}</option>
                        <option value="spryng" {sms_selected_spryng}>{label_sms_gateway_spryng}</option>
                        <option value="inetworx" {sms_selected_inetworx}>{label_sms_gateway_inetworx}</option>
                        <option value="clickatell" {sms_selected_clickatell}>{label_sms_gateway_clickatell}</option>
                        <option value="textmarketer" {sms_selected_textmarketer}>{label_sms_gateway_textmarketer}</option>
                      </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="sms_gateway_username">{label_sms_gateway_username}</label>
                <div class="controls">
                    <input type="text" name="sms_gateway_username" value="{sms_gateway_username}" maxlength="255" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="sms_gateway_password">{label_sms_gateway_password}</label>
                <div class="controls">
                    <input type="password" name="sms_gateway_password" value="{sms_gateway_password}" maxlength="255" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="sms_from">{label_sms_from}</label>
                <div class="controls">
                    <input type="text" name="sms_from" value="{sms_from}" maxlength="255" />
                </div>
            </div>
            <legend>{label_settings_notification}</legend>
            <div class="control-group">
                <label class="control-label" for="alert_type">{label_alert_type}</label>
                <div class="controls">
                    <select name="alert_type">
                        <option value="status" {alert_type_selected_status}>{label_alert_type_status}</option>
                        <option value="offline" {alert_type_selected_offline}>{label_alert_type_offline}</option>
                        <option value="always" {alert_type_selected_always}>{label_alert_type_always}</option>
                      </select>
                      <p class="help-block">
                        {label_alert_type_description}
                      </p>
                </div>
            </div>
            <legend>{label_settings_log}</legend>
            <div class="control-group">
                <label class="control-label" for="log_status">{label_log_status}</label>
                <div class="controls">
                    <input type="checkbox" name="log_status[]" {log_status_checked} />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="log_status">{label_log_email}</label>
                <div class="controls">
                    <input type="checkbox" name="log_email[]" {log_email_checked} />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="log_sms">{label_log_sms}</label>
                <div class="controls">
                    <input type="checkbox" name="log_sms[]" {log_sms_checked} />
                </div>
            </div>
            <div class="form-actions">
                <button class="btn btn-success" type="submit">Save</button>
            </div>
        </fieldset>
      </form>
</div>
<!--%%tpl_config-->

<!--%tpl_config_update-->
<div class="alert alert-info hide">
    Please update!
</div>
<!--%%tpl_config_update-->