<!--%tpl_main_modal_container-->
<div id="{modal_id}Modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="{modal_id}ModalLabel" aria-hidden="true">
	<div class="modal-header">
		<h3 id="{modal_id}ModalLabel">{modal_title}</h3>
	</div>
	<div class="modal-body">
		<p>{modal_body}</p>
	</div>
	<div class="modal-footer">
		<!--%tpl_repeat_buttons-->
		<a href="#" class="btn btn-{modal_button_type} {modal_button_class}" {modal_button_attr}>{modal_button_label}</a>
		<!--%%tpl_repeat_buttons-->
		{buttons}
	</div>
</div>
<!--%%tpl_main_modal_container-->
