<!--%tpl_main_sidebar_container-->
<div class="span2">
	<div class="sidebar-nav">
		<ul class="nav nav-list">
			<li class="nav-header">{subtitle}</li>
			<!--%tpl_repeat_items-->
			<li class="{class_active}">{html_item}</li>
			<!--%%tpl_repeat_items-->
			{items}
		</ul>
		<div class="clearfix"></div>
	</div>
</div>
<!--%%tpl_main_sidebar_container-->

<!--%tpl_main_sidebar_types_link--><a href="{url}"><i class="icon-{icon}"></i>&nbsp;{label}</a><!--%%tpl_main_sidebar_types_link-->

<!--%tpl_main_sidebar_types_button-->
<button class="btn btn-{btn_class}" onclick="{onclick}">
	<i class="icon-{icon}"></i>&nbsp;{label}
</button>
<!--%%tpl_main_sidebar_types_button-->

<!--%tpl_main_sidebar_types_dropdown-->
<div class="btn-group">
  <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">
	<i class="icon-th icon-white"></i>&nbsp;{label}
	<span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
	<!--%tpl_repeat_options-->
	<li class="{class_active}"><a href="{url}">{label}</a>
	<!--%%tpl_repeat_options-->
	{options}
  </ul>
</div>
<!--%%tpl_main_sidebar_types_dropdown-->