<!--%tpl_servers_list-->
<div class="span12">
    <div class="top_buutons">
        <a class="btn btn-success" href="index.php?type=servers&action=edit">
            <i class="icon-plus icon-white"></i>
            {label_add_new}
        </a>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>{label_label}</th>
                <th>{label_domain}</th>
                <th>{label_port}</th>
                <th>{label_type}</th>
                <th>{label_last_check}</th>
                <th>{label_rtime}</th>
                <th>{label_last_online}</th>
                <th>{label_monitoring}</th>
                <th>{label_send_email}</th>
                <th>{label_send_sms}</th>
                <th width="75">{label_action}</th>
            </tr>
        </thead>
        <tbody>
            <!--%tpl_repeat_servers-->
            <tr>
                <td>
                    <span class="label label-status-{status}">
                        <a href="#" title="{error}">{status}</a>
                    </span>
                </td>
                <td>{label}</td>
                <td>{ip}</td>
                <td>{port}</td>
                <td>{type}</td>
                <td>{last_check}</td>
                <td>{rtime} s</td>
                <td>{last_online}</td>
                <td>{active}</td>
                <td>{email}</td>
                <td>{sms}</td>
                <td>
                    <a class="btn btn-small" href="index.php?type=servers&amp;action=edit&amp;id={server_id}" title="{label_edit}">
                        <i class="icon-pencil"></i>
                    </a>
            	    <a class="btn btn-small btn-danger" href="javascript:sm_delete('{server_id}', 'servers');" title="{label_delete}">
                        <i class="icon-remove icon-white"></i>
                    </a>
                </td>
            </tr>
            <!--%%tpl_repeat_servers-->
            {servers}
        </tbody>
    </table>
</div>
<!--%%tpl_servers_list-->


<!--%tpl_servers_update-->
<div class="span12">
    <form class="form-horizontal well" action="index.php?type=servers&action=save&id={edit_server_id}" method="post">
        <fieldset>
            <legend>{titlemode}</legend>
            <div class="control-group">
                <label class="control-label" for="label">{label_label}</label>
                <div class="controls">
                    <input type="text" name="label" value="{edit_value_label}" maxlength="255" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="ip">{label_domain}</label>
                <div class="controls">
                    <input type="text" name="ip" value="{edit_value_ip}" maxlength="100" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="label">{label_port}</label>
                <div class="controls">
                    <input type="text" name="port" value="{edit_value_port}" maxlength="5" size="5" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="type">{label_type}</label>
                <div class="controls">
                    <select name="type">
                        <option value="service" {edit_type_selected_service}>Service</option>
                        <option value="website" {edit_type_selected_website}>Website</option>
                     </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="pattern">{label_pattern}</label>
                <div class="controls">
					<input type="text" name="pattern" value="{edit_value_pattern}" maxlength="255" />
				</div>
            </div>
            <div class="control-group">
                <label class="control-label" for="active">{label_monitoring}</label>
                <div class="controls">
                    <select name="active">
                        <option value="yes" {edit_active_selected_yes}>{label_yes}</option>
                        <option value="no" {edit_active_selected_no}>{label_no}</option>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="email">{label_send_email}</label>
                <div class="controls">
                    <select name="email">
                        <option value="yes" {edit_email_selected_yes}>{label_yes}</option>
                        <option value="no" {edit_email_selected_no}>{label_no}</option>
                     </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="sms">{label_send_sms}</label>
                <div class="controls">
                    <select name="sms">
                        <option value="yes" {edit_sms_selected_yes}>{label_yes}</option>
                        <option value="no" {edit_sms_selected_no}>{label_no}</option>
                    </select>
                </div>
            </div>
            <div class="form-actions">
                <button class="btn btn-success" type="submit">Save</button>
                <button class="btn" onclick="history.back();return false;" >Cancel</button>
            </div>
        </fieldset>
    </form>
</div>
<!--%%tpl_servers_update-->