<!--%tpl_users_list-->
<div class="span12">
    <div class="top_buutons">
        <a class="btn btn-success" href="index.php?type=users&action=edit">
            <i class="icon-plus icon-white"></i>
            {label_add_new}
        </a>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>{label_name}</th>
                <th>{label_mobile}</th>
                <th>{label_email}</th>
                <th>{label_servers}</th>
                <th width="75">{label_action}</th>
            </tr>
        </thead>
        <tbody>
        <!--%tpl_repeat_users-->
        <tr>
            <td>{name}</td>
            <td>{mobile}</td>
            <td>{email}</td>
            <td>{emp_servers}</td>
            <td>
                <a class="btn btn-small" href="index.php?type=users&amp;action=edit&amp;id={user_id}" title="{label_edit}">
                    <i class="icon-pencil"></i>
                </a>
        	    <a class="btn btn-small btn-danger" href="javascript:sm_delete('{user_id}', 'users');" title="{label_delete}">
                    <i class="icon-remove icon-white"></i>
                </a>
            </td>
        </tr>
        <!--%%tpl_repeat_users-->
        {users}
        </tbody>
     </table>
</div>
<!--%%tpl_users_list-->

<!--%tpl_users_update-->
<div class="span12">
    <form class="form-horizontal well" action="index.php?type=users&amp;action=save&amp;id={edit_user_id}" method="post">
         <fieldset>
                <legend>{titlemode}</legend>
                <div class="control-group">
                    <label class="control-label" for="name">{label_name}</label>
                    <div class="controls">
                        <input type="text" name="name" value="{edit_value_name}" maxlength="255" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="mobile">{label_mobile}</label>
                    <div class="controls">
                        <input type="text" name="mobile" value="{edit_value_mobile}" maxlength="15" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="name">{label_email}</label>
                    <div class="controls">
                        <input type="text" name="email" value="{edit_value_email}" maxlength="255" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="name">{label_servers}</label>
                    <div class="controls">
                        <!--%tpl_repeat_servers-->
                        <label class="checkbox">
                            <input id="server{server_id}"
                                    type="checkbox"
                                    name='server_id[]'
                                    value='{server_id}' {edit_checked} >
                            {label}
                        </label>
                        <!--%%tpl_repeat_servers-->
                        {servers}
                    </div>
                </div>
                <div class="form-actions">
                    <button class="btn btn-success" type="submit">Save</button>
                    <button class="btn" onclick="history.back();return false;" >Cancel</button>
                </div>
         </fieldset>
    </form>
</div>
<!--%%tpl_users_update-->