<!--%tpl_server_history-->
<link href="static/plugin/jqplot/jquery.jqplot.min.css" rel="stylesheet" >
<!--[if lt IE 9]><script type="text/javascript" src="static/plugin/excanvas.js"></script><![endif]-->
<script type="text/javascript" src="static/plugin/jqplot/jquery.jqplot.min.js"></script>
<script type="text/javascript" src="static/plugin/jqplot/jqplot.canvasOverlay.min.js"></script>
<script type="text/javascript" src="static/plugin/jqplot/jqplot.cursor.min.js"></script>
<script type="text/javascript" src="static/plugin/jqplot/jqplot.dateAxisRenderer.min.js"></script>
<script type="text/javascript" src="static/plugin/jqplot/jqplot.highlighter.min.js"></script>

<link href="static/css/history.css" rel="stylesheet" >
<script type="text/javascript">
	var day_format = '{day_format}';
	var long_date_format = '{long_date_format}';
	var short_date_format = '{short_date_format}';
	var short_time_format = '{short_time_format}';
</script>
<script type="text/javascript" src="static/js/history.js"></script>

<div id="history-panel">
<!--%tpl_repeat_graphs-->
<div class="chart-row">
	<div class="chart-container">
		<div class="chart-content">
			<div id="chart{chart_id}" class="chart" data-title="{title}" data-plotMode="{plotmode}" data-endTime="{end_timestamp}" data-series="{series}" data-lines="{server_lines}" data-down="{server_down}"></div>
		</div>
	</div>
	<div class="info-container">
		<div class="info-content">
			<div class="info-dropdown btn-group">
				<button class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-info-sign"></i></span></button>
				<ul class="dropdown-menu">
					<li><span>{label_latency_avg}: {latency_avg}</span></li>
				</ul>
			</div>
			<div class="server-info">
				{label_latency_avg}: {latency_avg}<br/>
			</div>
		</div>
		<div class="chart-selector">
			<div class="btn-group">
				<!--%tpl_repeat_buttons-->
				<button class="btn {class_active}" data-chartId="{chart_id}" data-chartMode="{mode}" >{label}</button>
				<!--%%tpl_repeat_buttons-->
				{buttons}
			</div>
		</div>
	</div>
</div>
<div style="clear: both;">&nbsp;</div>
<!--%%tpl_repeat_graphs-->
{graphs}
</div>
<!--%%tpl_server_history-->