<!--%tpl_server_log_list-->
<div class="tabbable">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#log_status_content" data-toggle="tab">{label_status}</a></li>
		<li><a href="#log_email_content" data-toggle="tab">{label_email}</a></li>
		<li><a href="#log_sms_content" data-toggle="tab">{label_sms}</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="log_status_content">
			{content_status}
		</div>
		<div class="tab-pane" id="log_email_content">
			{content_email}
		</div>
		<div class="tab-pane" id="log_sms_content">
			{content_sms}
		</div>
	</div>
</div>
<!--%%tpl_server_log_list-->

<!--%tpl_server_log_entries-->
<!-- {logtitle} -->
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>{label_server}</th>
            <th>{label_message}</th>
            <th width="130">{label_date}</th>
            <th>{label_users}</th>
        </tr>
    </thead>
    <tbody>
        <!--%tpl_repeat_entries-->
        <tr class="{class}">
          <td>{server}</td>
          <td>{message}</td>
          <td>{datetime_format}</td>
          <td>{users}</td>
        </tr>
        <!--%%tpl_repeat_entries-->
        {entries}
    </tbody>
</table>
<!--%%tpl_server_log_entries-->