<!--%tpl_server_log_list-->
<div class="tabbable">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#log_status_content" data-toggle="tab">{label_status}</a></li>
		<li><a href="#log_email_content" data-toggle="tab">{label_email}</a></li>
		<li><a href="#log_sms_content" data-toggle="tab">{label_sms}</a></li>
		<li><a href="#log_pushover_content" data-toggle="tab">{label_pushover}</a></li>
	</ul>
	<div class="tab-content well">
		<div class="tab-pane active" id="log_status_content">
			{content_status}
		</div>
		<div class="tab-pane" id="log_email_content">
			{content_email}
		</div>
		<div class="tab-pane" id="log_sms_content">
			{content_sms}
		</div>
		<div class="tab-pane" id="log_pushover_content">
			{content_pushover}
		</div>
	</div>
</div>
<!--%%tpl_server_log_list-->

<!--%tpl_server_log_entries-->
<!-- {logtitle} -->
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th class="hidden-phone">{label_server}</th>
            <th class="hidden-phone">{label_message}</th>
            <th class="hidden-phone">{label_date}</th>
            <!--?has_users--><th class="hidden-phone">{label_users}</th><!--??has_users-->
        </tr>
    </thead>
    <tbody>
		<!--%tpl_repeat_entries-->
		<tr class="{class}">
			<td>
				<div class="table-body">
					<div class="table-cell">
						<div class="visible-phone pull-right">
							&nbsp;{datetime_format}
						</div>
						<i class="{type_icon}" title="{type_title}"></i> <span class="title">{server}</span> {ip}
					</div>
				</div>
				<div class="visible-phone">
					<div class="table-separator"/></div>
					<div class="table-body">
						<div class="table-cell-details">{message}</div>
					</div>
				</div>
				<!--?has_users--><div class="visible-phone">
					<div class="table-separator"/></div>
					<div class="table-body">
						<div class="table-cell-details">{label_users}: {user_list}</div>
					</div>
				</div><!--??has_users-->
			</td>
			<td class="hidden-phone">{message}</td>
			<td class="hidden-phone tight">{datetime_format}</td>
			<!--?has_users--><td class="hidden-phone tight">{users}</td><!--??has_users-->
		</tr>
		<!--%%tpl_repeat_entries-->
		{entries}
		<!--?no_logs-->
		<tr class="{class}">
			<td colspan="4" class="cell-center">{label_no_logs}</td>
		</tr>
		<!--??no_logs-->
    </tbody>
</table>
<!--%%tpl_server_log_entries-->