<!--%tpl_server_status-->
<style type="text/css">
	body {
		background: black;
	}

	.page-header {
		border-bottom: 0;
	}

	h2, p {
		margin: 0;
		padding: 0;
	}

	h2 {
		margin-bottom: 10px;
	}

</style>
<div class="entity-container">
	<!--%tpl_repeat_servers_offline-->
	<div class="offline">
		<div class="entity {class_warning}" onclick="window.location.href='{url_view}'">
			<h2>{label}</h2>
			<p>{label_last_online}: {last_online_nice}</p>
			<p>{label_last_check}: {last_checked_nice}</p>
		</div>
	</div>
	<!--%%tpl_repeat_servers_offline-->
	{servers_offline}
	<!--%tpl_repeat_servers_online-->
	<div class="online">
		<div class="entity" onclick="window.location.href='{url_view}'">
			<h2>{label}</h2>
			<p>{label_last_online}: {last_checked_nice}</p>
			<p>{label_rtime}: {rtime}s</p>
		</div>
	</div>
	<!--%%tpl_repeat_servers_online-->
	{servers_online}
</div>
<!--%%tpl_server_status-->