<!--%tpl_server_status-->
<div class="tab-content">
	<div id="flow-layout" class="tab-pane active">
		<div class="entity-container">
			<!--%tpl_repeat_servers_offline-->
			<div class="offline">
				<div class="entity {class_warning}" onclick="window.location.href='{url_view}'">
					<h2>{label}</h2>
					<p>{label_last_online}: {last_online_nice}</p>
					<p>{label_last_check}: {last_checked_nice}</p>
				</div>
			</div>
			<!--%%tpl_repeat_servers_offline-->
			{servers_offline}
			<!--%tpl_repeat_servers_online-->
			<div class="online">
				<div class="entity" onclick="window.location.href='{url_view}'">
					<h2>{label}</h2>
					<p>{label_last_online}: {last_checked_nice}</p>
					<p>{label_rtime}: {rtime}s</p>
				</div>
			</div>
			<!--%%tpl_repeat_servers_online-->
			{servers_online}
		</div>
	</div>
	<div id="list-layout" class="tab-pane">
		<div class="entity-container">
			<table class="table table-bordered">
				<tbody>
					<!--%tpl_repeat_servers_offline2-->
						<tr class="row-offline" onclick="window.location.href='{url_view}'">
							<td class="{class_warning}"><div class="server-name">{label}</div>
								<div class="visible-phone">
									<div class="table-body">
										<div class="table-row"><div class="table-cell-details tight">{label_last_online}: &nbsp;</div><div class="table-cell-details">{last_online_nice}</div></div>
										<div class="table-row"><div class="table-cell-details tight">{label_last_check}: &nbsp;</div><div class="table-cell-details">{last_checked_nice}</div></div>
									</div>
								</div>
							</td>
							<td class="{class_warning} hidden-phone">{label_last_online}: {last_online_nice}</td>
							<td class="{class_warning} hidden-phone">{label_last_check}: {last_checked_nice}</td>
						</tr>
					<!--%%tpl_repeat_servers_offline2--> 
					{servers_offline2}
					<!--%tpl_repeat_servers_online2-->
						<tr class="row-online" onclick="window.location.href='{url_view}'">
							<td><div class="server-name">{label}</div>
								<div class="visible-phone">
									<div class="table-body">
										<div class="table-row"><div class="table-cell-details tight">{label_last_online}: &nbsp;</div><div class="table-cell-details">{last_online_nice}</div></div>
										<div class="table-row"><div class="table-cell-details tight">{label_rtime}: &nbsp;</div><div class="table-cell-details">{rtime}</div></div>
									</div>
								</div>
							</td>
							<td class="hidden-phone">{label_last_online}: {last_online_nice}</td>
							<td class="hidden-phone">{label_rtime}: {rtime}s</td>
						</tr>
					<!--%%tpl_repeat_servers_online2-->
					{servers_online2}
				</tbody>
			</table>
		</div>
	</div>
</div>
<!--%%tpl_server_status-->

<!--%tpl_status_layout_selector-->
<div class="btn-group" data-toggle="buttons-radio">
	<button class="btn active" data-toggle="tab" data-target="#flow-layout"><i class="icon-th-large"></i></button>
	<button class="btn" data-toggle="tab" data-target="#list-layout"><i class="icon-th-list"></i></button>
</div>
<!--%%tpl_status_layout_selector-->
