<!--%tpl_install-->
<div class="hero-unit">
	<h2><a href="http://www.phpservermonitor.org/"><img class="pull-right" src="static/opensource.png" width="100" alt="" /></a> &nbsp;PHP Server Monitor</h2>
	<p>&nbsp;</p>
	{html_install}
</div>
<!--%%tpl_install-->

<!--%tpl_install_index-->
<p>Welcome to the installation of PHP Server Monitor. This page will guide you through the steps to install or upgrade your monitor.</p>
<p>Before we start, we need to verify your system meets the requirements.
   If you see any errors in the list below, you may still continue, but PHP Server Monitor may not work correctly.
   It is recommended you fix any errors before continuing.
</p>
{html_results}
<p>&nbsp;</p>
<p>
	<a class="btn btn-primary btn-large" href="install.php?action=config">Let's go</a>
</p>
<!--%%tpl_install_index-->

<!--%tpl_install_config_upgrade-->
<p>We have discovered a previous version.</p>
<p>In the next step we will upgrade your database to the latest version.</p>
{html_results}
<p>&nbsp;</p>
<p><a class="btn btn-primary btn-large" href="install.php?action=install">Upgrade to {version}</a></p>
<!--%%tpl_install_config_upgrade-->

<!--%tpl_install_config_new_user-->
<p>Sweet, your database connection is up and running!</p>
<p>Next, please set up a new account to access your monitor:</p>
{html_results}
<p>&nbsp;</p>
<div class="row-fluid">
   <div class="span6">
	<form id="psm_config" class="form-horizontal" action="install.php?action=install" method="post">
	  <div class="control-group">
		<label class="control-label" for="username">Username</label>
		<div class="controls">
		  <input type="text" id="username" name="username" value="{username}">
		</div>
	  </div>
	  <div class="control-group">
		<label class="control-label" for="password">Password</label>
		<div class="controls">
		  <input type="password" id="password" name="password" value="">
		</div>
	  </div>
	  <div class="control-group">
		<label class="control-label" for="password_repeat">Password repeat</label>
		<div class="controls">
		  <input type="password" id="password_repeat" name="password_repeat" value="">
		</div>
	  </div>
	  <div class="control-group">
		<label class="control-label" for="email">Email</label>
		<div class="controls">
		  <input type="text" id="email" name="email" value="{email}" />
		</div>
	  </div>
	  <div class="control-group">
		<div class="controls">
		  <button type="submit" class="btn btn-primary btn-large">Install</button>
		</div>
	  </div>
	</form>
   </div>
{html_config_copy}
</div>
<!--%%tpl_install_config_new_user-->

<!--%tpl_install_config_new-->
<div class="row-fluid">
	<div class="span12">{html_results}</div>
</div>
<div class="row-fluid">
   <div class="span6">
	<form id="psm_config" class="form-horizontal" action="install.php?action=config" method="post">
	  <p>Please enter your database info:</p>
	  <div class="control-group">
		<label class="control-label" for="host">Database host</label>
		<div class="controls">
		  <input type="text" id="host" name="host" value="{host}" />
		</div>
	  </div>
	  <div class="control-group">
		<label class="control-label" for="name">Database name</label>
		<div class="controls">
		  <input type="text" id="name" name="name" value="{name}" placeholder="db name" />
		</div>
	  </div>
	  <div class="control-group">
		<label class="control-label" for="user">Database user</label>
		<div class="controls">
		  <input type="text" id="user" name="user" value="{user}" placeholder="db user" />
		</div>
	  </div>
	  <div class="control-group">
		<label class="control-label" for="pass">Database password</label>
		<div class="controls">
		  <input type="password" id="pass" name="pass" value="{pass}" placeholder="db password" />
		</div>
	  </div>
	  <div class="control-group">
		<label class="control-label" for="prefix">Table prefix</label>
		<div class="controls">
		  <input type="text" id="prefix" name="prefix" value="{prefix}" />
		</div>
	  </div>
	  <div class="control-group">
		<div class="controls">
		  <button type="submit" class="btn">Save configuration</button>
		</div>
	  </div>
	</form>
   </div>
{html_config_copy}
</div>
<!--%%tpl_install_config_new-->

<!--%tpl_install_config_new_copy-->
    <div class="span6">
		<h3>Your config file:</h3>
		<div class="alert alert-error">Unable to save your configuration.</div>
		<p>Your database information is valid, however we are unable to create the configuration file automatically.
		Please create a new file in the project directory called "config.php" and copy the information below.</p>
		<p>After you have copied the configuration, press the button to continue.</p>
		<p class="pull-left"><textarea rows="10">{php_config}</textarea></p>
		<p class="offset2"><input type="submit" class="btn btn-primary" value="I have saved the configuration" onclick="location.reload(true);" /></p>
    </div>
<!--%%tpl_install_config_new_copy-->

<!--%tpl_install_success-->
<div class="row-fluid">
	<div class="span12">{html_results}</div>
</div>
<div class="row-fluid">
   <div class="span12">
	   <p>&nbsp;</p>
	   <p>The installation is complete. Please check above if errors have occurred.<br>
If no errors have occurred, you are good to go.<br><br></p>
	<p>
		<a class="btn btn-primary btn-large" href="index.php">Go to your monitor</a>
		<a class="btn btn-large" target="_blank" href="http://www.phpservermonitor.org/">PHP Server Monitor</a>
		<a class="btn btn-large" target="_blank" href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a>
	</p>
   </div>
</div>
<!--%%tpl_install_success-->

<!--%tpl_install_results-->
<!--%tpl_repeat_resultmsgs-->
<div>
	<p class="pull-left"><span class="label label-{shortcode}">{shortcode}</span></p>
	<p class="offset1">{message}</p>
</div>
<!--%%tpl_repeat_resultmsgs-->
{resultmsgs}
<!--%%tpl_install_results-->