{% extends "module/install/main.tpl.html" %}
{% use "module/install/results.tpl.html" %}

{% block install %}
<div class="row">
	<div class="col-md-12">{{ block('results') }}</div>
</div>
<div class="row">
   <div class="col-md-12">
	   <p>&nbsp;</p>
	   <p>The installation is complete. Please check above if errors have occurred.<br>
If no errors have occurred, you are good to go.</p>
	<div class="w-100 mb-4"></div>
	<a class="btn btn-primary btn-lg" href="index.php">Go to your monitor</a>
	<a class="btn btn-secondary btn-lg" target="_blank" rel="noopener" href="http://www.phpservermonitor.org/ " target="_blank">PHP Server Monitor</a>
	<a class="btn btn-secondary btn-lg" target="_blank" rel="noopener" href="http://docs.phpservermonitor.org/" target="_blank">Documentation</a>
   </div>
</div>
{% endblock %}